---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
{%- include head.html -%}

<body>
  {%- include navigation.html -%}
  <main class="content" id="nc-root">
    {{ content }}
  </main>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
  <!-- <script defer src="/assets/javascript/vendor/page/page.js"></script> -->
  <!-- <script defer src="/assets/javascript/main.js"></script> -->

  <div data-netlify-identity-menu></div>
  <script>
if (window.netlifyIdentity) {
  window.netlifyIdentity.on('"init', user => {
    if (!user) {
      window.netlifyIdentity.on('login', () => {
        document.location.href = '/admin/'
      })
    }
  })
}
  </script>
</body>

</html>
